<div class="main-section projects">
    <div class="container scrollFadeIn">
        <div class="main-heading">
            <h3>@K9.Globalisation.Dictionary.Projects</h3>
        </div>
        <div class="container">
            <div class="col-md-6">
                <div>
                    <h4 class="text-black">@K9.Globalisation.Dictionary.projects_short_term_title</h4>
                </div>
                @MvcHtmlString.Create(K9.Globalisation.Dictionary.projects_short_term)
            </div>
            <div class="col-md-6">
                <div>
                    <h4 class="text-black">@K9.Globalisation.Dictionary.projects_long_term_title</h4>
                </div>
                @MvcHtmlString.Create(K9.Globalisation.Dictionary.projects_long_term)
            </div>
        </div>
        <br />
        <div class="text-center">
            @Html.BootstrapActionLinkButton(Dictionary.SupportUs, "DonateStart", "Support", null, "fa-thumbs-o-up", EButtonClass.Large)
            @Html.BootstrapActionLinkButton(K9.Globalisation.Dictionary.Shop, "Index", "Shop", null, "fa-shopping-cart", EButtonClass.Large)
        </div>
    </div>
</div>