@{
    ViewBag.Title = Dictionary.Home;
}

@Html.Partial("_SponsorIbogaBanner")
<div id="main-banner" class="banner-default main-menu">
    @Html.Partial("_Navbar")
</div>
<div class="team main-section">
    <div class="container">
        <div class="main-heading">
            <h3>@Dictionary.OurTeam</h3>
        </div>
        <div>
            <div class="col-md-3 col-xs-6 team-grids">
                <div class="team-agileimg">
                    <img class="img-responsive" src="~/Images/team/yann2.jpg" alt="">
                    <div class="captn">
                        <div class="captn-top">
                            <h4 class="display-article" data-team-member="yann">Yann Guignon</h4>
                            <p>@MvcHtmlString.Create(K9.Globalisation.Dictionary.yann_title)</p>
                        </div>
                        <div class="social-w3lsicon agileinfo-social-grids">
                            <ul>
                                <li><a target="_blank" href="https://www.facebook.com/yguignon"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="mailto:yguignon@yahoo.fr"><i class="fa fa-envelope-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 team-grids">
                <div class="team-agileimg">
                    <img class="img-responsive" src="~/Images/team/david.jpg" alt="">
                    <div class="captn">
                        <div class="captn-top">
                            <h4 class="display-article" data-team-member="david">David Nassim</h4>
                            <p>@MvcHtmlString.Create(K9.Globalisation.Dictionary.david_title)</p>
                        </div>
                        <div class="social-w3lsicon agileinfo-social-grids">
                            <ul>
                                <li><a target="_blank" href="https://www.facebook.com/david.nassim.56"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="mailto:david.nassim@yahoo.co.uk"><i class="fa fa-envelope-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 team-grids">
                <div class="team-agileimg">
                    <img class="img-responsive" src="~/Images/team/gassita.jpg" alt="">
                    <div class="captn">
                        <div class="captn-top">
                            <h4 class="display-article" data-team-member="jeannoel">Jean Noël Gassita</h4>
                            <p>@MvcHtmlString.Create(K9.Globalisation.Dictionary.jeannoel_title)</p>
                        </div>
                        <div class="social-w3lsicon agileinfo-social-grids">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 team-grids">
                <div class="team-agileimg">
                    <img class="img-responsive" src="~/Images/team/marie.jpg" alt="">
                    <div class="captn">
                        <div class="captn-top">
                            <h4 class="display-article" data-team-member="marie">Marie Lou Miboka</h4>
                            <p>@MvcHtmlString.Create(K9.Globalisation.Dictionary.marie_title)</p>
                        </div>
                        <div class="social-w3lsicon agileinfo-social-grids">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

        <div class="margin-top-30">
            <div class="col-md-3 col-xs-6 team-grids">
                <div class="team-agileimg">
                    <img class="img-responsive" src="~/Images/team/hugues.jpg" alt="">
                    <div class="captn">
                        <div class="captn-top">
                            <h4 class="display-article" data-team-member="hugues">Hugues Obiang Poitevin</h4>
                            <p>@MvcHtmlString.Create(K9.Globalisation.Dictionary.hugues_title)</p>
                        </div>
                        <div class="social-w3lsicon agileinfo-social-grids">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 team-grids">
                <div class="team-agileimg">
                    <img class="img-responsive" src="~/Images/team/george.jpg" alt="">
                    <div class="captn">
                        <div class="captn-top">
                            <h4 class="display-article" data-team-member="george">George Gassita</h4>
                            <p>@MvcHtmlString.Create(K9.Globalisation.Dictionary.george_title)</p>
                        </div>
                        <div class="social-w3lsicon agileinfo-social-grids">
                            <ul>
                                @*<li><a target="_blank" href="https://www.facebook.com/peaceful.drwyd"><i class="fa fa-facebook"></i></a></li>
                                    <li><a target="_blank" href="mailto:simon@vibranthealthnow.co.uk"><i class="fa fa-envelope-o"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 team-grids">
                <div class="team-agileimg">
                    <img class="img-responsive" src="~/Images/team/josephine.jpg" alt="">
                    <div class="captn">
                        <div class="captn-top">
                            <h4 class="display-article" data-team-member="josephine">Joséphine Engoulou</h4>
                            <p>@MvcHtmlString.Create(K9.Globalisation.Dictionary.josephine_title)</p>
                        </div>
                        <div class="social-w3lsicon agileinfo-social-grids">
                            <ul>
                                <li><a target="_blank" href="https://www.facebook.com/josephine.engoulou"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 team-grids">
                <div class="team-agileimg">
                    <img class="img-responsive" src="~/Images/team/hubert.jpg" alt="">
                    <div class="captn">
                        <div class="captn-top">
                            <h4 class="display-article" data-team-member="hubert">Hubert Bled ELIE NLOH</h4>
                            <p>@MvcHtmlString.Create(K9.Globalisation.Dictionary.hubert_title)</p>
                        </div>
                        <div class="social-w3lsicon agileinfo-social-grids">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

        <div class="margin-top-30">
            <div class="col-md-3 col-xs-6 team-grids">
                <div class="team-agileimg">
                    <img class="img-responsive" src="~/Images/team/rudy.jpg" alt="">
                    <div class="captn">
                        <div class="captn-top">
                            <h4 class="display-article" data-team-member="rudy">Rudy Declercq</h4>
                            <p>@MvcHtmlString.Create(K9.Globalisation.Dictionary.rudy_title)</p>
                        </div>
                        <div class="social-w3lsicon agileinfo-social-grids">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 team-grids">
                <div class="team-agileimg">
                    <img class="img-responsive" src="~/Images/team/simon.jpg" alt="">
                    <div class="captn">
                        <div class="captn-top">
                            <h4 class="display-article" data-team-member="simon">Simon Glantz</h4>
                            <p>@MvcHtmlString.Create(K9.Globalisation.Dictionary.simon_title)</p>
                        </div>
                        <div class="social-w3lsicon agileinfo-social-grids">
                            <ul>
                                <li><a target="_blank" href="https://www.facebook.com/peaceful.drwyd"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="mailto:simon@vibranthealthnow.co.uk"><i class="fa fa-envelope-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 team-grids">
                <div class="team-agileimg">
                    <img class="img-responsive" src="~/Images/team/quevain.jpg" alt="">
                    <div class="captn">
                        <div class="captn-top">
                            <h4 class="display-article" data-team-member="quevain">Quevain Pambo Makaya</h4>
                            <p>@MvcHtmlString.Create(K9.Globalisation.Dictionary.quevain_title)</p>
                        </div>
                        <div class="social-w3lsicon agileinfo-social-grids">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 team-grids">
                <div class="team-agileimg">
                    <img class="img-responsive" src="~/Images/team/laurent.jpg" alt="">
                    <div class="captn">
                        <div class="captn-top">
                            <h4 class="display-article" data-team-member="laurent">Laurent Sazy</h4>
                            <p>@MvcHtmlString.Create(K9.Globalisation.Dictionary.laurent_title)</p>
                        </div>
                        <div class="social-w3lsicon agileinfo-social-grids">
                            <ul>
                                <li><a target="_blank" href="https://www.facebook.com/BlurbBooks"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="https://www.twitter.com/blurbbooks"><i class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" href="https://www.linkedin.com/company/blurb"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

        <div class="container" id="profile-description-container">
            <div class="sub-section display-none" id="yann">
                <article>
                    @MvcHtmlString.Create(K9.Globalisation.Dictionary.yann_text)
                </article>
            </div>
            <div class="sub-section display-none" id="david">
                <article>
                    @MvcHtmlString.Create(K9.Globalisation.Dictionary.david_text)
                </article>
            </div>
            <div class="sub-section display-none" id="laurent">
                <article>
                    @MvcHtmlString.Create(K9.Globalisation.Dictionary.laurent_text)
                </article>
            </div>
            <div class="sub-section display-none" id="simon">
                <article>
                    @MvcHtmlString.Create(K9.Globalisation.Dictionary.simon_text)
                </article>
            </div>
            <div class="sub-section display-none" id="george">
                <article>
                    @MvcHtmlString.Create(K9.Globalisation.Dictionary.george_text)
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </article>
            </div>
            <div class="sub-section display-none" id="hubert">
                <article>
                    @MvcHtmlString.Create(K9.Globalisation.Dictionary.hubert_text)
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </article>
            </div>
            <div class="sub-section display-none" id="jeannoel">
                <article>
                    @MvcHtmlString.Create(K9.Globalisation.Dictionary.jeannoel_text)
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </article>
            </div>
            <div class="sub-section display-none" id="marie">
                <article>
                    @MvcHtmlString.Create(K9.Globalisation.Dictionary.marie_text)
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </article>
            </div>
            <div class="sub-section display-none" id="hugues">
                <article>
                    @MvcHtmlString.Create(K9.Globalisation.Dictionary.hugues_text)
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </article>
            </div>
            <div class="sub-section display-none" id="quevain">
                <article>
                    @MvcHtmlString.Create(K9.Globalisation.Dictionary.quevain_text)
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </article>
            </div>
            <div class="sub-section display-none" id="rudy">
                <article>
                    @MvcHtmlString.Create(K9.Globalisation.Dictionary.rudy_text)
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </article>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script language="javascript">
        $(function ()
        {
            $("h4.display-article").click(function ()
            {
                $("div.sub-section").hide();
                var teamMember = $(this).attr("data-team-member");
                var article = $("div#" + teamMember);
                article.fadeIn();
                $("html, body").animate({
                    scrollTop: article.offset().top - 200
                }, 1000);
            });
        })
    </script>
}