@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.StripeModel
@{
    ViewBag.Title = K9.Globalisation.Dictionary.SponsorIbogaTree;
    ViewBag.SubTitle = K9.Globalisation.Dictionary.SponsorIbogaTree;
    ViewBag.BackgroundClass = "background-poaching1";
    Layout = "../Shared/_LayoutFormSmall.cshtml";
}

@using (Html.BeginForm("SponsorIboga", "Support", FormMethod.Post))
{
    using (Html.BeginBootstrapForm())
    {
        <div class="donations">
            @MvcHtmlString.Create(K9.Globalisation.Dictionary.iboga_sponsor_text)
        </div>

        <hr/>

        @Html.Partial("_TreeSponsorCounter")

        <hr />

        @Html.HiddenFor(model => model.LocalisedCurrencyThreeLetters)
        @Html.BootstrapEditorFor(model => model.NumberOfTrees)

        <p>@String.Format(K9.Globalisation.Dictionary.IbogaPriceText, 10.ToString("C2", CurrencyTools.GetCultureInfoFromIso("EUR")))</p>

        <hr />
        <div class="text-right">
            @Html.BootstrapButton(Dictionary.Next, EButtonType.Submit, "fa-chevron-right", EButtonClass.IconRight)
        </div>
    }
}