@using K9.Base.WebApplication.Config

<div class="main-section">
    <div class="container">
        <div class="main-heading">
            <h3>@WebsiteConfiguration.Instance.CompanyName C.I.C</h3>
        </div>
    </div>
    <div class="container">
        <div>
            <div class="col-md-5">
                <div class="picture-frame margin-bottom-30">
                    <div>
                        <img src="~/Images/home/wood1.jpg" alt="" />
                    </div>
                    @Html.Partial("_PhotosBy")
                </div>
            </div>
            <div class="col-md-7 margin-top-minus-15">
                <article>
                    @MvcHtmlString.Create(K9.Globalisation.Dictionary.blessings_of_the_forest)
                </article>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <br />
    <div class="text-center">
        @Html.BootstrapActionLinkButton(Dictionary.SupportUs, "DonateStart", "Support", null, "fa-thumbs-o-up", EButtonClass.Large)
        @Html.BootstrapActionLinkButton(K9.Globalisation.Dictionary.Shop, "Index", "Shop", null, "fa-shopping-cart", EButtonClass.Large)
    </div>
</div>