<div class="jarallax background-elephant our-mission main-section">
    <div class="container scrollFadeIn">
        <div class="main-heading">
            <h3 class="text-white">@Dictionary.OurMissionTitle</h3>
        </div>
        <div class="">
            <div class="col-md-6">
                <div>
                    <h4>@K9.Globalisation.Dictionary.mission_statement_and_aims_title1</h4>
                </div>
                @MvcHtmlString.Create(K9.Globalisation.Dictionary.mission_statement_and_aims1)
            </div>
            <div class="col-md-6">
                <div>
                    <h4>@K9.Globalisation.Dictionary.mission_statement_and_aims_title2</h4>
                </div>
                @MvcHtmlString.Create(K9.Globalisation.Dictionary.mission_statement_and_aims2)
            </div>
            <div class="clearfix">
            </div>
        </div>
        <br />
        <div class="text-center">
            @Html.BootstrapActionLinkButton(Dictionary.SupportUs, "Index", "Home", null, "fa-thumbs-o-up", EButtonClass.Large)
        </div>
    </div>
</div>