<div id="services" class="main-section services">
    <div class="main-heading">
        <h3 class="">OUR SERVICES</h3>
    </div>
    <div class="container">
        <div>
            <h1 class="service-description-text text-center">
                Beautiful, magical and experiential events to share your heart and connect with friends, clients and the world.
            </h1>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service scrollFadeUp">
                    @Html.Partial("_FlowerBorder")
                    <div class="service-picture celebrations">
                        &nbsp;
                    </div>
                    <div class="service-overlay"></div>
                    <div class="service-description celebrations">
                        <h3>CELEBRATIONS</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service scrollFadeUp">
                    @Html.Partial("_FlowerBorder")
                    <div class="service-picture popups">
                        &nbsp;
                    </div>
                    <div class="service-overlay"></div>
                    <div class="service-description popups">
                        <h3>POP-UPS</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service scrollFadeUp">
                    @Html.Partial("_FlowerBorder")
                    <div class="service-picture soirees">
                        &nbsp;
                    </div>
                    <div class="service-overlay"></div>
                    <div class="service-description soirees">
                        <h3>SOIREES</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service scrollFadeUp">
                    @Html.Partial("_FlowerBorder")
                    <div class="service-picture launches">
                        &nbsp;
                    </div>
                    <div class="service-overlay"></div>
                    <div class="service-description launches">
                        <h3>LAUNCHES</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service scrollFadeUp">
                    @Html.Partial("_FlowerBorder")
                    <div class="service-picture workshops">
                        &nbsp;
                    </div>
                    <div class="service-overlay"></div>
                    <div class="service-description workshops">
                        <h3>WORKSHOPS</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service scrollFadeUp">
                    @Html.Partial("_FlowerBorder")
                    <div class="service-picture gatherings">
                        &nbsp;
                    </div>
                    <div class="service-overlay"></div>
                    <div class="service-description gatherings">
                        <h3>GATHERINGS</h3>
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>